.boton-on, .boton-off:hover{
	background: #ebebeb url(border.png) no-repeat;
	color: #67a5cd;
	padding: 7px 15px 7px 30px;

    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    width: 100px;
    display: block;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 4px #888;
}

.boton-off{
	-webkit-transition: all 0.3s ease-out;
	background: #63AFD0 url(border.png) no-repeat;
	color: white;
	padding: 7px 15px 7px 15px;

	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 100px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

ul.navDer {
	list-style: none;
/*	display: block;*/
	width: 65%;
/*	position: relative;*/
	top: 31px;
	left: 7px;
	padding: 60px 0 60px 0;
	background: url(../img/shad2.png) no-repeat;
	-webkit-background-size: 50% 100%;
}

ul.navDer li {
	margin: 5px 0 0 0;
}