* {
  padding:0px;
  margin:0px;
}

body {
  background-color: #EEE;	
}

#cabecera {
	background-color:white;
  /*background-image:url('./cabecera.png');*/
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
}

#cuerpo{
	background-color:white;
	padding: 10px 0px 0px 0px;
}


#pie {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BBB;
  background-color: #EEE;
}

.centrado {
  text-align: center;
}

.centrar {
	width: 924px;
	margin: 0px auto 0px auto;
}

.separador {
  height:6px;
  background-color: #0099CC;  
}

.menu {
  background-color:#0099cc;	
}
#navBar {
  width: 600px;
  margin: 0px auto 0px auto;  
}

#noticias{
  /*height: 300px;*/
}
.cuadro {
  /*background-image:url('./cuadro.png');*/
  font-family: 'Raleway', sans-serif;
  float: left;
  width: 248px;
  margin: 10px;
  padding: 10px 20px;
}
.span3 {


}.cuadro.span3 a {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
	margin: 0px auto 0px auto;
	display: block;
}
.img {
	text-align: center;
	padding: 3px;
}
.cuadroGrande .titulo {
	font-family: 'Raleway', sans-serif;
	font-weight:bold;	
	color: white;
	display: block;
	padding: 5px;
	background-image:url('./cuadroCabecera.png');
}

.cuadroGrande .cuerpo {
	font-family: 'Raleway', sans-serif;
	display: block;
	font-size:14px;
	padding: 5px;
}
.cuadroGrande {
	padding: 0px 10px 30px 10px;
	background-image:url('./cuadroPie.png');
	background-position:bottom;
	background-repeat:no-repeat;
}
.cuadroGrande .cuerpo {
	background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
}
.infoPrincipal {
  font-family: 'Raleway', sans-serif;
  float: left;
  width: 500px;
  margin: 5px 10px;
  padding: 5px 10px;
}

.info1 {
	font-weight: bold;
	color: #0099cc;  
}

.info2 {
	font-size: 14px;
}

.infoImagen {
  float: left;
	margin-top: 5px;
}

.infoTexto {
	margin: 10px;
  padding: 10px;
}

.tablaEstados {
	font-family: 'Raleway', sans-serif;
	border-color: #0099cc;
	background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
	width: 95%; 
	margin: 5px;
	border: 1px solid #0099cc;
	padding:3px 7px 2px 7px;
	border-collapse:collapse;
	text-align:left;
}

.tablaEstados th{
	border-color: #007aa1;
	color: white;
	background-color: #0099cc;
	padding:3px 7px 2px 7px;
}

.tablaEstados td{
	padding:3px 7px 2px 7px;
}

#logo {
  position: relative;
}

.cuadro.span3  {
	border: 2px solid #ddd;
  background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
	border-radius: 6px;
}

.cuadro.span3 a {
	margin: 20px !important;
}

#noticias{
  overflow: hidden;
}

#cabecera {
  height: 90px !important;
}

.campoCI {
	margin: 30px;
}
	 
.cedula {
	font-weight: bold;
	margin: 20px;
}

.acerca{
	margin: 20px;
	padding: 5px;
}

.usuarioPassword{
	margin: 20px;
	padding: 5px;
}

.mostrarNivel{
  height: 20px;
  width:80px;
}

.nivel1 {
  background-color: #FF0050;
}

.nivel2 {
  background-color: #F7821B;
}

.nivel3 {
  background-color: #F2FF03;
}

.nivel4 {
  background-color: #41CC00;
}

.nivel5 {
  background-color: #0099FF;
}

input {
  padding:2px;
  margin:5px;
}
/*

#cabecera {
  height: 150px !important;
}

.menu {
  background-color: #FFFFFF;
  display: inline;
}

.barraMenu {
	font-family: 'Raleway', sans-serif;
	padding: 10px;
	color: #3c3e4d;
}

.barraMenu a {
	color: #3c3e4d;
	margin-bottom: 10px;
	text-decoration: none;
}

.barraMenu ul {
	font-size:20px;
	margin:15px;
	padding:5;
	list-style:none;
}

#navBar li {
	display: inline;
}


.imagenLogo {
	float: left;	
	margin-top: 20px;
}

#navBar {
  width: auto;
  margin: 5px;  
}


#pacientesMenu {
	font-size:14px;
}


#pacientesMenu a {
	text-transform: none;
}

#pacientesMenu li{
	display:list-item;
}

#separacion {
	height: 5px;
  background-color:#EEE;	
}


*/

.exito {
	font-family: 'Raleway', sans-serif;
	padding: 20px;
  background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
}


.exito a{
	font-family: 'Raleway', sans-serif;
	color: #848484;	
	font-size: 16px;
	font-weight: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.6);
	text-decoration:none;
}

.activa {
	color: red;
}

.ahora a {
	font-family: 'Raleway', sans-serif;
	color: #848484;	
	font-size: 17px;
	font-weight: bold;
	text-decoration:none;
	text-shadow: 0 2px 0 rgba(255,255,255,.6);
}


a:hover {
	font-weight:bold;
	color: blue;
	text-decoration: underline;
}

.tablaEstados a{
	font-family: 'Raleway', sans-serif;
	color: #848484;	
	font-size: 15px;
	text-decoration:none;
	text-shadow: 0 2px 0 rgba(255,255,255,.6);
}

.tablaEstados a:hover{
	font-weight:bold;
	color: blue;
	text-decoration: underline;
}


.tablaAgregar {
	font-family: 'Raleway', sans-serif;
	background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
}

.solicitar{
	font-family: 'Raleway', sans-serif;
	color: #848484;	
	font-size: 12px;
	font-weight: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.6);
}

.reevaluar a{
	font-family: 'Raleway', sans-serif;
	color: black;
}

.button-blue:hover, .freshbutton-blue.hovered {
	border: 1px solid #1c74b3;
	border-top-color: #2c8ed1;
	border-bottom-color: #0d5b97;
	background: #2389dc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3baaf4", endColorstr="#2389dc");
	background: -webkit-gradient(linear, left top, left bottom, from(#3baaf4), to(#2389dc));
	background: -moz-linear-gradient(top, #3baaf4, #2389dc);
}

.button-blue {
	-webkit-appearance: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: #fff;
	border: 1px solid #1c74b3;
	border-top-color: #2c8ed1;
	border-bottom-color: #0d5b97;
	background: #2181cf;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37a3eb", endColorstr="#2181cf");
	background: -webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#2181cf));
	background: -moz-linear-gradient(top, #37a3eb, #2181cf);
	-moz-box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
	-webkit-box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: rgba(0,0,0,0.2) 0 1px 0;
	-webkit-text-shadow: rgba(0,0,0,0.2) 0 1px 0;
	-moz-text-shadow: rgba(0,0,0,0.2) 0 1px 0;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

.button, .button-blue{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	padding: 5px 16px;
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	overflow: visible;
}

.categoria {
	font-weight: bold;
}

.iconos {
	float: right;
}
