{% extends "base.html" %}
{% block cuerpo %}
<link rel="stylesheet" type="text/css" href="/static/css/Atencion/estiloIcon.css" />
<script src ="/static/css/Atencion/spin.min.js"> </script>
<script>
  function Fspin(div_spin){
    var opts = {lines: 7,length: 6,width: 7, radius: 7, corners: 1,
      rotate: 0,
      direction: 1, // 1: clockwise, -1: counterclockwise
      color: '#2f96b4', // #rgb or #rrggbb
      speed: 1, trail: 160, shadow: false, hwaccel: true,className: 'spinner',
      zIndex: 2e9,top: 'auto', left: 'auto'
    };
    var target = document.getElementById(div_spin);
    var spinner = new Spinner(opts).spin(target);
    $('#'+div_spin).data('spinner', spinner);
  }
  $(document).ready(function () {
    var emer = '{{emergencia.id}}';
    
    $('#dEnf').load('/emergencia/enf_actual/'+emer);
    
    $('#aAnt').click(function(){
      $('#Ant2').load('/emergencia/antecedente/'+emer);
    });

    $('#aEfis').click(function(){
      Fspin('cuerpou');
      $('#Efis').load('/emergencia/enfermedad/'+emer);
    });

    $('#aInd').click(function(){
      $("#d_But").load("/emergencia/indi/"+emer);
    });

    $('#aDiag').click(function(){
      $('#dDiag').load('/emergencia/diagnostico/'+emer);
    });

    $("[rel='tooltip']").tooltip();
    

  });
</script>
<div class="container row">
    <div class="span3">
      <div class="well well-small">
        <h4>Paciente</h4>
        <!-- <dl class="dl-horizontal"> -->
        <dl>
          <dt><b>Nombre:</b></dt>
          <dd>{{ emergencia.paciente }}</dd>
          <dt><b>Sexo:</b></dt>
          <dd>{{ emergencia.paciente.sexoR}}</dd>
          <dt><b>Responsable:</b></dt>
          <dd>{{ emergencia.responsable}}</dd>
          <dt><b>Hora de ingreso:</b></dt>
          <dd>{{ emergencia.horaR}}</dd>
          <dt><b>Motivo de consulta:</b></dt>
          <dd>{{ triage.motivo.nombre}}</dd>
        </dl>
        <hr>
        <h4 class="info"> Signos Vitales</h4>
        <dl>
        <dt>Temperatura:&nbsp&nbsp<span style='font-weight:normal;'>{{ triage.signos_tmp }}</span></dt>
        <dt>Frecu. Cardiaca:&nbsp&nbsp<span style='font-weight:normal;' >{{ triage.signos_fc }}</span></dt>
        <dt>Tension Arterial:&nbsp&nbsp<span style='font-weight:normal;'{{ triage.signos_ta }}</span></dt>
        <dt>Fr:&nbsp&nbsp<span style='font-weight:normal;' >{{ triage.signos_fr }}</span></dt>
        <dt>Saod:&nbsp&nbsp<span style='font-weight:normal;' >{{ triage.signos_saod }}</span></dt>
       <dt>rmotora:&nbsp&nbsp<span style='font-weight:normal;' >{{ triage.signos_rmotora }}</span></dt>
       <dt>rocular:&nbsp&nbsp<span style='font-weight:normal;' >{{ triage.signos_rocular }}</span></dt>
       <dt>rverbal:&nbsp&nbsp<span style='font-weight:normal;' >{{ triage.signos_rverbal }}</span></dt>
       <dt>Dolor:&nbsp&nbsp<span style='font-weight:normal;' >{{ triage.signos_dolor }}</span></dt>
     </dl>
     <button style='margin-top:0px;margin-left:0px'class="btn btn-info btn-mini" > Actualizar</button>
    </div><!--Cierra wellsmall-->
      <center>
        
      <div class="btn-group">
      <button class="btn button btn-large" onclick="location='/emergencia/descarga/{{emergencia.id}}'" rel="tooltip" data-toggle="tooltip" data-original-title="Historia Médica">
        <a  href="#" data-icon="&#xe007;"></a>
      </button>
      <button class="btn button btn-large" rel="tooltip" data-toggle="tooltip" data-original-title="Constancia Atenci&oacute;n">
        <a  href="#" data-icon="&#xe008;"></a>
      </button>
      <button class="btn button btn-large" rel="tooltip" data-toggle="tooltip" data-original-title="Reporte Indicaciones">
        <a  href="#" data-icon="&#xe009;"></a>
      </button>
    </div><!-- Cierra botones -->
    </center>
  </div><!-- Cierra span3-->

    <div class="span8">
      <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
          <li  class="active">
            <a id='aEnf' href="#Enf" data-toggle="tab">Enfermedad Actual</a>
          </li>
          <li>
            <a id='aAnt' href="#Ant" data-toggle="tab">Antecedentes</a>
          </li>
          <li>
            <a id ='aEfis' href="#Efis" data-toggle="tab">Examen F&iacute;sico</a>
          </li>
          <li>
            <a id='aInd' href="#Ind" data-toggle="tab">Indicaciones</a>
          </li>
          <li>
            <a id='aDiag' href="#Diag" data-toggle="tab">Diagn&oacute;stico Definitivo</a>
          </li>
        </ul>

        <div class="tab-content">
          <div  class="tab-pane active" id="Enf" >
            <div id="dEnf"></div>
          </div>

          <div  class="tab-pane" id="Ant" >
            <div id='Ant2' class='span2' ></div>
            <div id="Dant" class='span5'></div>
          </div>

          <div class="tab-pane" id="Efis">
          </div>

          <div class="tab-pane" id="Ind">
            <div id="d_But"></div>
            <div id="d_Ind"></div>
          </div>

          <div class="tab-pane" id="Diag">
            <div id="dDiag"></div>
          </div>
        </div><!--cierra tab-content-->
      </div><!--cierra tabbable-->
    </div><!--cierra span8-->
  </div><!--cierra container-->
{% endblock %}
