<script src ="/static/scripts/efectos_info_cuerpo.js"> </script> 
 <script>

  function parteCuerpo(parte_cuerpo){
    Fspin('cajon1');
    $('#div_Parte_Cuerpo').load('/emergencia/partecuerpo/{{emergencia.id}}/'+parte_cuerpo,function(){
       $('#cajon1').data('spinner').stop();
    });  
  }

  $(document).ready(function () {
    $('#'+'ejemplo').hide();
    $('.hide').hide();

    $('input[type="hidden"]').each(function(index,valor){
      var estado = $(valor).attr('value');
      var nombre = $(valor).attr('id');
      if (estado=='normalN'){
        $('#p'+nombre+'1').addClass('On');
      }else if(estado=='anormalN'){
        $('#p'+nombre+'2').addClass('On');
        $('#A'+nombre).show();
      }
    });
  });
</script>
<div style="margin:5px;text-align: right;">  
  <button  class="btn btn-small" id="boton1">X</button>
</div>
<center>
  
</center>

{% for parte in partecuerpo %}

{% if parte.nombre == 'CABEZA_Y_ROSTRO' %}
<button id='{{parte.nombre}}' style='width:120px' class="btn btn-info btn-mini" onClick="parteCuerpo('{{parte.nombre}}');">CABEZA&nbsp;Y&nbsp;ROSTRO</button>
{% elif parte.nombre == 'EXTREMIDADES_SUPERIORES' %}
<button id='{{parte.nombre}}' style='width:170px' class="btn btn-info btn-mini" onClick="parteCuerpo('{{parte.nombre}}');">EXTREMIDADES&nbsp;SUPERIORES</button>
{% elif parte.nombre == 'EXTREMIDADES_INFERIORES' %}
<button id='{{parte.nombre}}' style='width:170px' class="btn btn-info btn-mini" onClick="parteCuerpo('{{parte.nombre}}');">EXTREMIDADES&nbsp;INFERIORES</button>
{% elif parte.nombre == 'GENITALES_MASCULINOS' and paciente.sexo == 1  %}
<button id='{{parte.nombre}}' style='width:145px' class="btn btn-info btn-mini" onClick="parteCuerpo('{{parte.nombre}}');">GENITALES&nbsp;MASCULINOS&nbsp;</button>
{% elif parte.nombre == 'GENITALES_FEMENINOS' and paciente.sexo == 2 %}
<button id='{{parte.nombre}}' style='width:140px' class="btn btn-info btn-mini" onClick="parteCuerpo('{{parte.nombre}}');">GENITALES&nbsp;FEMENINOS</button>
{% elif parte.nombre == 'EXAMEN_DE_MAMA' and paciente.sexo == 2 %}
<button id='{{parte.nombre}}' style='width:110px' class="btn btn-info btn-mini" onClick="parteCuerpo('{{parte.nombre}}');">EXAMEN&nbsp;DE&nbsp;MAMA</button>
{% elif parte.nombre == 'EXAMEN_RECTAL' %}
<button id='{{parte.nombre}}' style='width:105px' class="btn btn-info btn-mini" onClick="parteCuerpo('{{parte.nombre}}');">EXAMEN&nbsp;RECTAL</button>
{% elif parte.nombre != 'GENITALES_FEMENINOS' and parte.nombre != 'EXAMEN_DE_MAMA' and parte.nombre != 'GENITALES_MASCULINOS' %}
<button id='{{parte.nombre}}' class="btn btn-info btn-mini" onClick="parteCuerpo('{{parte.nombre}}');">{{parte.nombre}}</button>
{% endif %}
 {% endfor %}

<div style="margin-top:4px;height:450px;OVERFLOW: auto;" >
  <div id='div_Parte_Cuerpo' style="display:inline-table;width:400px;height:64%;padding:3px 0px 0px 5px;boder:solid;OVERFLOW: auto;">
  </div>
</div>
</div>    