{% extends "base.html" %}
{% block cuerpo %}
    <!--HOJAS DE ESTILOS-->
    <link rel="stylesheet" type="text/css" href="/static/css/Atencion/js-image-slider.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/droppy.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/Atencion/menuDer.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Atencion/estiloIcon.css" />
     <link rel="stylesheet" type="text/css" href="/static/css/Atencion/efectos_info_cuerpo.css" />
    
    
    <!--Javascript-->
    <script type="text/javascript" src="/static/scripts/js-image-slider.js" ></script>
    <script type="text/javascript" src="/static/scripts/jquery.min.js"></script>   
    <script type="text/javascript" src="/static/scripts/script.js"></script>  
    <script type="text/javascript" src ="/static/scripts/over_click.js" > </script>
    <script type="text/javascript" src="/static/scripts/jquery.droppy.js"></script>
    <script src ="/static/scripts/map-hover.js"> </script>
    <script src ="/static/scripts/efectos_info_cuerpo.js"> </script> 

    <div class="centrarA">
      <div class="contenedorA">
        <div id="leftcolumn">
          <section class="ac-container">
                <div>
                  <input id="ac-1" name="accordion-1" type="radio" checked />
                  <label for="ac-1">Información Paciente</label>
                  <article class="ac-small">
                    <p><b>Nombre Paciente:</b><br>{{ emergencia.paciente }}
                    <br><b>Nombre Responsable:</b><br>{{ emergencia.responsable}}</p>
                  </article>
                </div>
                <div>
                  <input id="ac-2" name="accordion-1" type="radio" />
                  <label for="ac-2">Motivo de Consulta</label>
                  <article class="ac-medium">
                    <p>Info Paciente! </p>
                  </article>
                </div>
                <div>
                  <input id="ac-3" name="accordion-1" type="radio" />
                  <label for="ac-3">Signos Vitales</label>
                  <article class="ac-large">
                    <p>
                      <b>Signos vitales:</b>
                      <br>Temperatura: {{ triage.signos_tmp }}
                      <br>Frecuencia Cardiaca: {{ triage.signos_fc }}
                      <br>Tension Arterial: {{ triage.signos_ta }}
                      <br>Fr: {{ triage.signos_fr }}
                      <br>Saod: {{ triage.signos_saod }}
                      <br>glasgow: {{ triage.signos_glasgow }}
                      <br>Dolor: {{ triage.signos_dolor }}
                    </p>
                  </article>
                </div>
              </section>
            </div> <!--Fin columna izquierda-->

            <div id="main">
                <div id="cambia">
                  {% block cambia %}
                  {% endblock %}
                </div>
            </div><!--Fin main-->

            <div id="rightcolumn">
                <ul class="navDer" style="margin-left:0px;">
                    <!-- Id de emergencia para los datos asociados a ese paciente -->
                  <li><a class='boton-off' href="/emergencia/antecedentes/{{emergencia.id}}">Antecedentes</a></li>
                  <li><a class='boton-off' href="/emergencia/enfermedad/{{emergencia.id}}">E. F&iacute;sico</a></li>
                  <!--Nuevas funcionalidades-->
                  <li><a class='boton-off' href="/emergencia/indicacionesT/{{emergencia.id}}">I. Terap&eacute;ticas</a></li>
                  <li><a class='boton-off' href="/emergencia/indicacionesD/{{emergencia.id}}">I. Diagn&oacute;sticas</a></li>
                  <li><a class='boton-off' href="/emergencia/diagnostico/{{emergencia.id}}">Diagn&oacute;stico</a></li>
                  <li><a class='boton-off' href="/emergencia/diagnostico/{{emergencia.id}}">Egreso</a></li>
                </ul><!--Cierra navDer-->

                <div id="botones_cont">
                  <ul id="botoncitos">
                    <li class="iconos">
                          <a  href="/emergencia/descarga/{{emergencia.id}}" title="Historia Médica" class="button" data-icon="&#xe007;"></a>
                          
                    </li>
                    <li class="iconos">
                          <a  href="#" title="Reporte Atencion" class="button" data-icon="&#xe008;"></a>

                    </li>
                    <li class="iconos">
                          <a  href="#" title="Calcular Signos Vitales" class="button" data-icon="&#xe009;"></a>

                    </li>
                  </ul> <!--Cierra botoncitos-->
                </div><!--Cierra botones_cont-->
            </div><!--Cierra rightcolumn-->
      </div><!-- Termina contenedorA-->
    </div> <!-- Termina centrarA-->
{% endblock %}