{% extends "atencion.html" %}
{% block cambia %}
{% if mensaje %}
  {{ mensaje }}
{% endif %}

<!-- CUERPO PARA FORMULARIO DINAMICO PARA INDICACIONES Terapeuticas -->
<div class="cuadroGrande">
  <center>
    <div class="titulo">Agregar Indicacion Terap&eacute;utica</div>
        <form class= "tablaAgregar" method="post" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Nombre</td>
                    <td>{{form.nombreT}}</td>
                </tr>
                <tr>
                    <td>Otros</td>
                    <td>{{form.otroT}}</td>
                </tr>
                <tr>
                    <td></td>
                    <!--hora indicacion: cuando le doy submit guardar en horareal de asignar-->
                    <td><input class="button-blue" type="submit" value="Ingresar" /></td>
                </tr>
            </table>
        </form>
</center>
</div>


<!-- TABLA LLENADA -->
<div id= "tablaInd">
<table class="tablaEstados">
    <tbody class="scrollTabla">
        <thead class="fixedHeader">
            <tr>
            <th>Hora</th>
            <th>Indicacion</th>
            <th>Estatus</th>
            </tr>
        </thead>
      {% for i in indicaciones %}
      <tr>
            <!--hora indicacion: buscarla de asignar-->
            <td>{{i.nombre}}</td>
            <!--nombre indicacion:Pensar estrategia al darle click editarla-->
            <td><span class="nombreLista"><strong>{{ i.nombre }}</strong></span></td>
            <!--estatus indicacion:sugerir añadir este atributo a la BD-->
            <td><span class="nombreLista"><strong>{{i.nombre}}</strong></span></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>
  
{% endblock %}
        