{% if mensaje %}
{{mensaje}}
{% endif %}
<script>
function envia1(pag){
    var formu = $('#formVAL').serialize();
    alert ("cosas serializadas de meds:"+formu);
    $.post(pag,formu,function(data){
    	alert ("en el post de atencion_ind_medica");
    	alert ("esto es data: "+data );
        $("#d_Ind").html(data);
    });
}

// Para esconder y hacer aparecer el nuevo listado:
$(document).ready(
    function(){
    	// Prueba agregando inputs de entrada y escondiendolos
    	// $("#holis").hide();

     //    $("#id_endoscopico_0").change(function(){
     //        var ver = $('#id_endoscopico_0').is(':checked')
     //        // alert ("Ver si 'si' esta check: "+ ver);
     //        if (ver == true) {
     //            $("#holis").show();
     //        }
     //        else{
     //            $("#holis").hide();
     //        }
     //    });

// Funcion creando el input al presionar el checkbox
        $("#id_endoscopico_0").change(function(){
            var ver = $('#id_endoscopico_0').is(':checked')
    //         
            if (ver == true) {
                $("#id_endoscopico_0").after("<p id='holis'>
					<label for='id_Otros' style='font-weight: bold; ''>Parte Cuerpo:</label>
					<input id='id_Otros' maxlength='200' name='Otros' type='text'>
				</p>");
            }
            else{
                $("#holis").hide();
                $("#id_endoscopico_0").remove("#holis")
            }
        });
});

});


</script>

<form id="formVAL" method="post" action="">
	{% csrf_token %}
	<fieldset>
		<center>
			<legend>Indicaciones de Estudios Endoscópicos</legend>
		</center>
		<p>
			<label for="id_endoscopico_0" style="font-weight: bold; ">Exámenes Endoscópicos:</label>
		</p>
		<ul>
			<li>
				<label for="id_endoscopico_0">
					<input id="id_endoscopico_0" name="endoscopico" type="checkbox" value="27">Endoscopia Digestiva Superior</label>
				<!-- <p id="holis">
					<label for="id_Otros" style="font-weight: bold; ">Parte Cuerpo:</label>
					<input id="id_Otros" maxlength="200" name="Otros" type="text">
				</p> -->
			</li>
			<li>
				<label for="id_endoscopico_1">
					<input id="id_endoscopico_1" name="endoscopico" type="checkbox" value="28">Endoscopia Digestiva Inferior</label>
			</li>
			<li>
				<label for="id_endoscopico_2">
					<input id="id_endoscopico_2" name="endoscopico" type="checkbox" value="29">Enteroscopia</label>
			</li>
			<li>
				<label for="id_endoscopico_3">
					<input id="id_endoscopico_3" name="endoscopico" type="checkbox" value="30">Rectosigmoidoscopia</label>
			</li>
			<li>
				<label for="id_endoscopico_4">
					<input id="id_endoscopico_4" name="endoscopico" type="checkbox" value="31">Pancreatocolangiografía PCRE</label>
			</li>
		</ul>
		<p></p>
		<br>
		<center><button class="btn btn-mini btn-primary" onClick="envia1('/emergencia/indicaciones/{{emergencia.id}}/{{tipo_ind}}')">Agregar</button>
		</center>
	</fieldset>
</form>