{% extends "base.html" %}
{% block cuerpo %}
{% if mensaje %}
{{mensaje}}
{% endif %}
<div class="container row">
  <div class="span12">
    <h4>Lista  de Pacientes {{titulo}}</h4>
    <div class="text-right">
      <a href="/emergencia/buscar">Buscar Paciente</a> | 
      <a href="/emergencia/listar/todas">&Aacute;rea de Emergencias</a> | 
      <a href="/emergencia/listar/triage">&Aacute;rea de Triage</a> | 
      <a href="/emergencia/listar/sinclasificar">Pacientes por Clasificar</a> |
      <a href="/emergencia/listar/clasificados">Pacientes Clasificados</a> |
      <a href="/emergencia/listar/atencion">&Aacute;rea de Atenci&oacute;n</a> 
    </div>

    {% if lista %}
    <table class="table table-bordered table-striped">
      <tr>
	<th>N&uacute;mero</th>
	<th>Nombre</th>
	<th>Hora de Ingreso</th>
	<th>Acciones R&aacute;pidas</th>
	<th>Clasificaci&oacute;n</th>
	<th>Alarma</th>
      </tr>
      {% for l in lista %}
      <tr>
        <td>{{l.id}}</td>
	      <td><span class="nombreLista"><a a href='/paciente/{{ l.id }}'>{{l.paciente}}</a></span></td>
        <td>{{l.horaR}}</td>
        {% if l.triage != 0 %}
        <td><a href="/emergencia/{{l.id}}/t1"><img src="/static/img/estados/triage.png" title="Recalcular"/></a></td>
        {% else %}
        <td>
          <a href="/emergencia/{{l.id}}/t1"><img src="/static/img/estados/esi1.png" title="Colocar en Nivel 1"/></a>
          <a href="/emergencia/{{l.id}}/t2"><img src="/static/img/estados/esi2.png" title="Colocar en Nivel 2"/></a>
          <a href="/emergencia/{{l.id}}/triage/calcular"><img src="/static/img/estados/triage.png" title="Realizar Triage"/></a>
        </td>
        {% endif %}
	<td>{% if l.triage != 0 %}<img src="/static/img/estados/nivel{{ l.triage }}.png" title="Nivel {{ l.triage }}"/>{% endif %}</td>
	<td><img src="/static/img/estados/alarmaVerde.png" /></td>
      </tr>	
      {% endfor %}
    </table>
    {% else %}
      No hay pacientes en esta area
    {% endif %}
  </div>
</div>
{% endblock %}
