{% extends "base.html" %}
{% block cuerpo %}
{% if mensaje %}
{{mensaje}}
{% endif %}
<div class="centrar">
  <div class="cuadroGrande">
  <div class="titulo">Lista de Pacientes</div>
  <table class="tablaEstados">
    <tr>
      <th>Emergencia</th>
      <th>Nombre Paciente</th>
			<th>Cédula de Identidad</th>
    </tr>
    {% for l in lista %}
      <tr>
        <td>{{l.id}}</td>
        <td><span class="nombreLista">{{l.paciente}}</span></td>
      </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endblock %}
