{% extends "base.html" %}
{% block cuerpo %}
{% if mensaje %}
{{mensaje}}
{% endif %}
<div class="centrar">
  <div class="cuadroGrande">
  <div class="titulo">Estado del Paciente</div>
  <table class="tablaEstados">
    <tr>
      <th>Emergencia</th>
      <th>Nombre Paciente</th>
      <th>Hora de Ingreso</th>
      <th>Acciones Rapidas</th>
      <th>Clasificaci&oacute;n</th>
    </tr>
    {% for l in lista %}
      <tr>
        <td>{{l.id}}</td>
        <td><span class="nombreLista">{{l.paciente}}</span></td>
        <td>{{l.hora_ingreso}}</td>
        {% if l.triage != 0 %}
          <td><a href="/emergencia/{{l.id}}/t1">Re Evaluar</a></td>
          <td><div class="mostrarNivel nivel{{ l.triage }}"></div></td>
        {% else %}
          <td>
            <a href="/emergencia/{{l.id}}/t1">ESI 1</a>
            <a href="/emergencia/{{l.id}}/t2">ESI 2</a>
            <a href="/emergencia/{{l.id}}/triage/calcular">ESI 2</a>
          </td>
          <td><div class="mostrarNivel nivel{{ l.triage }}"></div></td>
        {% endif %}

      </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endblock %}
