{% extends "base.html" %}
{% block cuerpo %}
<div class="row  text-center">
  <div class="span3">
    <a href="/emergencia/agregar"class="btn">  
      <img src="/static/img/menus/agregar.png" />
      <h4>Ingreso</h4>
    </a>
  </div>
  <div class="span3 color">
    <a href="/emergencia/listar/triage" class="btn">
      <img src="/static/img/menus/triage.png" />
      <h4>Clasificaci&oacute;n</h4>
    </a>
  </div>
  <div class="span3 color">
    <a href="/emergencia/listar/atencion"class="btn">
      <img src="/static/img/menus/atencion.png" />
      <h4>Atenci&oacute;n</h4>
    </a>
  </div>
	<div class="span3 color">
    <a href="/estadisticas"class="btn">
      <img src="/static/img/menus/estadisticas.png" />
      <h4>Estad&iacute;sticas</h4>
    </a>
  </div>
</div>
{% endblock %}
